*{
  margin:0px;
  padding:0px;
}
ul{
  list-style: none;
}
.container{
  width:100%;
}
a{
  text-decoration: none;
}
.header{
  background: #ffffff;
  padding-top: 30px;
  border-bottom: 4px solid #0EAC0F;
}
.header a{
  color: #4E8F36;
}
.header ul{
  display: inline-block;
  text-align: center;
  margin-left: 200px;
  transform: translateY(15px);
}
.header ul li{
  float: left;
  width:126px;
  height:39px;
  color: #4E8F36;
  border-radius: 4px 4px 0 0;
  line-height: 39px;
  cursor:pointer;
}
.header-list{
  display: inline-block;
  transform: translateY(10px);
}
.header-list div{
  float: left;
  margin-left: 20px;
  text-align: center;
}
.header-list div span{
  display: block;
  font-size: 12px;
  color: #0EAC0F;
  letter-spacing: -0.29px;
}
.footer{
  background: #ffffff;
  padding:100px 0px 60px 0px;
  text-align: center;
}
.center{
  width:65%;
  margin:0px auto;
}
.banner{
  width:100%;
}
.banner img{
  width:100%;
  height:auto;
}
.option-title{
  text-align: center;
  font-size: 36px;
  color: #333333;
  letter-spacing: -1.16px;
}
.title-small{
  font-size: 24px;
  color: #CCCCCC;
  letter-spacing: -0.77px;
  margin-top: 5px;
  margin-bottom: 60px;
}
.list{
  padding:100px 0px;
  text-align: center;
}
.list p{
  margin-top: 20px;
  font-size: 16px;
  padding:0px 10px;
  color: #666666;
  letter-spacing: -0.58px;
  line-height: 27px;
}
.list ul{
  display: flex;
  justify-content: center;
}
.list ul li{
  flex:1;
}
.introduce{
  width:100%;
  position: relative;
}
.introduce-content{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background: #000;
  opacity: 0.7;
}
.introduce-text{
  width:900px;
  position: absolute;
  top:70px;
  left:50%;
  transform: translateX(-50%);
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: -0.9px;
  line-height: 48px;
}
.show-container{
  background: #ffffff;
  padding:100px 0px;
}
.show-container ul{
  display: flex;
  justify-content: space-between;
}
.show-container ul li{
  flex:1;
  margin-left: 20px;
  border-radius: 8px;
}
.show-container ul li:nth-of-type(1){
  margin-left: 0px;
}
.strategy-partner{
  padding:100px 0px;
  background: rgba(14,172,15,0.20);
}
.strategy-partner ul{
  margin:0px auto;
  display: flex;
  justify-content: center;
}
.strategy-partner ul li{
  margin-left: 20px;
}
.strategy-partner ul li:nth-of-type(1){
  margin-left: 0px;
}
.circulate-container{
  padding:100px  0px;
}
.circulate-container ul{
  display: flex;
  justify-content: center;
  text-align: left;
}
.circulate-container ul li{
  flex:1;
}
.circulate-option{
  width:300px;
  height:80px;
  background: #0EAC0F;
  border-radius: 100px;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: -1.16px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 50px;
}
.circulate-text{
  font-size: 24px;
  color: #666666;
  letter-spacing: -0.77px;
  margin-top: 20px;
}
.circulate-text span{
  display: inline-block;
  width:20px;
  height:20px;
  border-radius: 100%;
  background: #0EAC0F;
  margin-right: 20px;
  margin-left: 30px;
}
